extends dashboardLayout


block append scripts
    script(src="/assets/js/objects.js")

block content
    div(style="margin-bottom:1rem;")
        a(href="/dashboard/buckets") Back to Buckets
    div(style="display: flex; align-items:center; gap: 2rem; padding-bottom: 1rem;")
        h1 Objects in #{bucket.name}
        button
          a(href=`/dashboard/bucket/${bucket.id}/objects/new`) Add Object
    div(id="bucket-list")
        table
            thead
                tr
                    th Name
                    th Size
                    th Mimetype
                    if bucket.type === "public"
                        th View
                    if bucket.type === "private"
                        th Get access token
            each object in objects
                tr
                    td
                        p= object.name
                    td
                        p= object.size
                    td
                        p= object.mimetype
                    if bucket.type === "public"
                        td
                            button(class="view-object" data-url=`/bucket/${bucket.name}/${object.name}`) View
                    if bucket.type === "private"
                        td
                            a(href=`/dashboard/bucket/${bucket.id}/object/${object.name}/token`) Get token